<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
<body>
<div>
    <a href="findall.html" target="main" >查看全部人员</a>
    <br>
    <a href="findById.html" target="main" >通过id查询信息</a>
    <br>
    <a href="delete.html" target="main" >删除人员信息</a>
    <br>
    <a href="update.html" target="main" >修改人员信息</a>
    <br>
    <a href="save.html" target="main" >新增人员信息</a>
    <br>
    <a href="findByUserName.html" target="main" >通过用户名查询信息</a>
    

</div>
</body>
</html>
 
 