<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <style>
   
        #iframeLeft{
            width: 20%;
            height: 700px;
            float: left;
        }
        #iframeContent{
            width: 80%;
            height: 700px;
        }
    </style>
<body>
<div>
    <iframe id="iframeLeft" name="iframeLeft" frameborder="0" src="list.html"></iframe>
    <iframe id="iframeContent" frameborder="0" src="findall.html" name="main"></iframe>
</div>
</body>
</html>